{#
Hero Billboard
#}
<div class="heroBillboard section">
    <div class="billboard__container">
        <h2 class="title">Headline</h2>
        <p>Subheadline</p>
        <a href="#">CTA</a>
    </div>
</div>