<div class="homepageContent section">
    <div class="home-page__container">
        <div class="image">
        </div>
        <div class="content">
            {{ homePage.post_content }}
        </div>
    </div>
</div>