{#
    Subcribtion Area
#}
<div class="subscribeArea section">
    <div class="subscribe__container">
        <h2 class="title">Subscription Area</h2>
        <p>Description</p>
        <a href="#">CTA</a>
    </div>
</div>