{# single.twig #}
    <div class="single-post">
        <div class="single__container">
            <article class="single-post-article">
                <h1 class="headline title">{{post.title}}</h1>
                <div class="body">
                    {{post.content}}
                </div>
            </article>
        </div>
    </div>